:root{
--brand-theme:#e20048;
--breadcrumb_image:url("../../../image/catalog/otherimage/breadcrumb.jpg");
--breadcrumb_color:#f5f5f5;
--seprator:url("");
--headernav_bgcolor:#232323;
--headernav_textcolor:#ffffff;
--header_bgcolor:#ffffff;
--header_textcolor:#232323;
--header_text_hovercolor:#e20048;
--btn_bgcolor:#e20048;
--btnhover_bgcolor:#232323;
--btn_textcolor:#ffffff;
--btnhover_textcolor:#ffffff;
--footer_bgimage:url("");
--footer_bgcolor:#f4f5f6;
--footer-title-color:#232323;
--footer-text-color:#777777;
--footer-hover-text-color:#e20048;
--footerafter-bgcolor:#232323;
--footerafter-text-color:#ffffff;
}